.row{
    padding: 20px;
}
div{
    background-color: #a1b5cb;
    text-align: center;
}

/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 5%;

}

img-fluid{
    width: min(500px, 100%);
    height: auto;

}