<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - <h3>(year)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et repellat totam in numquam pariatur, libero voluptatem minus cumque! Voluptate sint beatae soluta numquam quas. Dolore ab repudiandae illo adipisci et!</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - <h3>(year)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et repellat totam in numquam pariatur, libero voluptatem minus cumque! Voluptate sint beatae soluta numquam quas. Dolore ab repudiandae illo adipisci et!</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> - <h3>(year)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et repellat totam in numquam pariatur, libero voluptatem minus cumque! Voluptate sint beatae soluta numquam quas. Dolore ab repudiandae illo adipisci et!</p>
        </ul>
    </div>
</div>
