<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="50"
            [showUnits]="false"
            [showSubtitle]="false"
            [imageSrc]="'../../../assets/Logos proyecto/html.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="35"
            [radius]="50"
            [showUnits]="false"
            [showSubtitle]="false"
            [imageSrc]="'../../../assets/Logos proyecto/CSS.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="45"
            [radius]="50"
            [showUnits]="false"
            [showSubtitle]="false"
            [imageSrc]="'../../../assets/Logos proyecto/js.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="35"
            [radius]="50"
            [showUnits]="false"
            [showSubtitle]="false"
            [imageSrc]="'../../../assets/Logos proyecto/git.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="35"
            [radius]="50"
            [showUnits]="false"
            [showSubtitle]="false"
            [imageSrc]="'../../../assets/Logos proyecto/eng.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="50"
            [showUnits]="false"
            [showSubtitle]="false"
            [imageSrc]="'../../../assets/Logos proyecto/grupal.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth]="50"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
</div>
